
/* ---------------------------------------------- */
/*                  LOAD FONTS                    */
/* ---------------------------------------------- */
@font-face{
    font-family: 'Gilroy';
    src: url(./Gilroy-Regular.woff) format(woff);
}
/* ---------------------------------------------- */
/*                    GENERAL                     */
/* ---------------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy',sans-serif;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hide{
    display: none;
}
.fadeIn{
    animation: fade 0.5s ease-in-out;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ---------------------------------------------- */
/*                    HEADER                      */
/* ---------------------------------------------- */

header{
   
   /* display: flex;          /*direct children will get flexed. side by side */
    align-items: center;   /* center the y*/
    /*justify-content: space-between;  /*center the x*/
    width: 100%;
    height: 10%;
    margin: 0 ;       /*x,y=0 */
    background-color: black;
    opacity: 0.99;
    

}

/* -------- TITLE_NAME -------- */

.title-name p{
    
    color:  red;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    top: 10px;
    position: relative;
}
/* -------- NAV -------- */
nav{
    position: absolute;
    right:0;
    top: 0;
    vertical-align: middle;
    text-align: left;
    padding: 10px;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: underline;
    color: white;
}
/* ---------------------------------------------- */
/*                      MAIN                      */
/* ---------------------------------------------- */

/* -------- BG IMAGE -------- */
.stats{
    width: 100%;
    height: 90%;
    background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)) ,url(../img/bg2.jpg);
    background-size: cover;
    background-position: center;
}
/* -------- LATEST REPORT -------- */

.latest-report{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    color: white;
}

.country,
.total-cases,
.active,
.recovered,
.deaths{
    height: 100px;
}

.name{
    font-size: 2.2em;
    color: #be64f1;
    font-weight: bold;
}

.change-country{
    cursor: pointer;
    /*clickable feeling */
}

.title{
    font-size: 1.3em;
}

.total-cases .value{
    font-size: 2em;
    font-weight: bold;
}
.active .value{
    font-size: 2em;
    font-weight: bold;
    color: #009688;
}
.recovered .value{
    font-size: 2em;
    font-weight: bold;
    color: #009688;
}
.deaths .value{
    font-size: 2em;
    font-weight: bold;
    color:#f44336;
}

.new-value{
    font-size: 1.3em;
}

/* -------- CHART -------- */

.chart{
    width: 80%;
    /* height: 70vh; */
    /* min-height: 500px; */
    height: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

/* -------- SEARCH COUNTRY -------- */
.search-country{
    position: relative;
    top:10px;
}
.search-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 30px;
    background-color: #111;
    z-index: 1;
}
.search-box input{
    width: 360px;
    height: 25px;
    border: none;

    background-color: transparent;
    color: white;
    padding-left: 15px;
    font-size: 1.1em;
}

.search-box img{
    width: 20px;
    padding-right: 5px;
    cursor: pointer;
}

.country-list{
    display: flex; /*three ul should come side by side*/
    
    position: absolute;
    top:30px;   /*same as height of search box so that it comes exactly below it*/
    width: 400px; /*same width as search box */
    height: 300px; /* this is the amount it will stretch below the search box */
    background-color: #111; /* the whole country list will have bg black*/
    opacity: 0.9;
    overflow-y: scroll;   /*makes all the list fit into height of 300, and scroll button*/

}

.country-list ul{
    width: 100%;
}

.country-list ul li{
    list-style: none;
    cursor: pointer;     /*every li becomes a pointer*/
    padding:10px;
    color: white;
}

.country-list ul li:hover{
    /*when we hover over the country*/
    border-left: 1px solid white;
}

/* SCROLL BAR */

.country-list::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .country-list::-webkit-scrollbar-track {
    background: #111;
  }
  
  /* Handle */
  .country-list::-webkit-scrollbar-thumb {
    background: #F1F1F1;
  }
  
  /* Handle on hover */
  .country-list::-webkit-scrollbar-thumb:hover {
    background: #FFF;
  }

/* ---------------------------------------------- */
/*             SCREEN WIDTH < 600px               */
/* ---------------------------------------------- */

@media screen and (max-width:600px){
    /*all devices below 600px*/

    html{
        font-size: 1rem;
        overflow: hidden;
    }
    .latest-report{
        display: flex;
        flex-direction:inherit;
        padding-top: 20px;
        align-items: flex-start;
    }
    body{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    header{
         align-items: center;   /* center the y*/
         width: 100%;
         height: 10%;
         margin: 0 ;       /*x,y=0 */
         background-color: black;
         opacity: 0.99;
         /* font-size: 4rem; */
         /* height: 40px; */
     }
    .title-name p{
        /* font-size: 1.2rem; */
    }
    .search-box{ 
        width: 100px;
        height: 5px;
    }
    
    .country-list{
        width: 320px;
        height: 400px;
        opacity: 1;
        position: relative;
        top: 10;
    }

    .country,
    .total-cases,
    .recovered,
    .deaths{
        height: 25px;
    }

    .country,
    .total-cases .value,
    .active .value,
    .recovered .value,

    .deaths .value,
    .title-name,
    nav,
    .title,
    .new-value{
        /* height: 100px; */
        font-size: 0.6rem;
    }

    nav{
        position: absolute;
        right:0;
        top: 0;
        vertical-align: middle;
        text-align: left;
        padding: 5px;
        /* font-size: 8px; */
    }

    .chart{
        width: 80%;
        height: 45vh;
        min-height: 300px;
        margin: 0 auto;
        padding: 50px 0;
        overflow: scroll;
        overflow-x: hidden;
    }

    /* -------- REMOVE PULSE ANIMATION FROM CSS -------- */
    .pulse{           
        background: none;
        animation: none;
        display: none;
    }
    
    
    
}
/* ---------------------------------------------- */
/*                      PULSE ANIMATION                      */
/* ---------------------------------------------- */
.pulse{           
    background: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"  xml:space="preserve" > <polyline fill="none"  stroke-width="2px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,32.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7"/></svg>') 0 0 no-repeat;
    width:100%;
    height: 100%;
    position: absolute ;
    animation: 3s pulse linear infinite;
    top: -30;
    left: 545px;
    opacity: 0.1;
}

@keyframes pulse {
    0% {
        clip: rect(0,0,100px,0);
    }
    4% {
        clip: rect(0,66.66667px,100px,0);
    }
    15% {
        clip: rect(0,133.3333px,100px,0);
    }
    20% {
        clip: rect(0,300px,100px,0);
        opacity: 1;
    }
    80%{
        clip: rect(0,300px,100px,0);
        opacity: 0;
    }
    90%{
       
        opacity: 0;
    }
    100%{
        clip: rect(0,300px,100px,0);
        opacity: 0;
    }
}
    html{
        height: 100%;
        font-size: 16px;
    }